body {
    background-color: white;
    max-width: 100%;
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER TAB BOLUMU BASLANGIC */
.header-tab-ic {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.header-tab-ic a {
    color: white;
    word-spacing: 10vh;
}
/* HEADER TAB BOLUMU SON */

/* HEADER BOLUMU BASLANGIC */
header {
    max-width: 100%;
    background-color: black;
}

.header-ic {
    max-width: 1100px;
    margin: auto;
}

.header-ic p {
    color: white;
    position: absolute;
    font-size: 20px;
}

.header-ic ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-ic ul li {
    display: inline;
    padding: 20px;
    font-size: 20px;
    float: right;
}

.header-ic a {
    color: white;
    text-decoration: none;
}
/* HEADER BOLUMU SON */

/* FOOTER CLASS="SAYFASONU" BASLANGIC */

.sayfasonu {
    background-color: black;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.sayfasonu-ic {
    max-width: 1100px;
    margin: auto;
}

.sayfasonu-ic p {
    color: white;
    font-size: 20px;
    text-align: center;
}

/* FOOTER CLASS="SAYFASONU" SON */

/* Banner Kısmı */

.banner {
    max-width: 100%;
    background-image: url(/assets/img/background1.jpg);
    filter: grayscale(50%);
    background-position: bottom left;
    background-repeat: repeat;
    background-color: white;
}

#banner {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 92vh;
}

.banner p {
    color: white;
    float: left;
    display: block;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 25vh;
}

.banner img {
    float: right;
    display: block;
    max-width: 250px;
    padding-top: 25vh;
    padding-right: 0vh;
}

/* Hakkımda Kısmı */

.whois {
    max-width: 100%;
    background-image: url(https://raw.githubusercontent.com/roaccat/roaccatsocial/main/cssindex/assets/img/background.png);
    background-position: bottom left;
    background-repeat: repeat;
    background-color: white;
}

#whois {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 25vh;
    padding-top: 35vh;
}

.whois img {
    float: left;
    display: block;
    max-width: 300px;
}

.whois h2 {
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;

}

.whois p {
    text-align: center;
    display: block;
}

/* İletişim Kısmı */

.contact {
    max-width: 100%;
    background-image: url(/assets/img/background3.jpg);
    filter: grayscale(50%);
    background-position: bottom left;
    background-repeat: repeat;
    background-color: white;
}

#contact {
    max-width: 1100px;
    margin: auto;
    padding-top: 22vh;
    padding-bottom: 22vh;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

.contact label {
    color: white;
}

